h2{
    margin-right: 8px;
}

.ant-btn-primary {
    color: #fff;
    background-color: #0f132e;
    border-color: white;
    margin-top: 10px;
}

.ant-layout-header {
    padding-inline: 8px;
    color: white;
    line-height: 0px;
    font-size: 25px;
}